.index {
  text-align: center;
  background-color: $primaryColor;
  height: 100%;

  .image {
    @include border-radius(10px);
    max-width: 400px;
    margin: 30px auto;
  }


  header{
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://atlasvoyages.com/assets/img/atlas-voyages-home.jpg);
  }


  .logo{
    width: 14%;
    height: 15%;
    position: fixed;
  }

  /*Menu*/
    #menu{
      padding: 0; 
      margin: 0;
      text-align: right;
      position: fixed;
                                   /*Je n'arrive pas à fixer le menu à droite */
      
    }

    #menu li {
      display: inline;
      list-style: none;
      margin-right: 15px;
    }

    #menu a {
      display:inline-block;
      margin: 0 30px;
      color: white;
      font-size:20px ;
      

    }

    nav ul{
      list-style-type: none;
      display: flex;
      height: 200px;

    }


  /*Pemier bloc d'image*/

    h1{
      color: #c0010c;
      font-weight: 600;
      text-align: center;
      margin-top: 40px;
      
    }

    h2{
      color: #555;
      text-align: center;
      margin-top: 20px;
      font-size: 20px;
      font-weight: 300;
      line-height: 1.4;
    }

    .grille{
      max-width: 1300px;
      width: 80%;
      height: auto;
      margin: 30px auto;
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      justify-content: center;
      grid-gap: 120px;
      position:relative;
    }

    .grid-item{
      width: 300px;
      height: 500px;

    }

    .grille3{
      max-width: 1300px;
      width: 80%;
      height: auto;
      margin: 30px auto;
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      justify-content: center;
      grid-gap: 120px;
      position:relative;
      
      .grid-item3{
      width: 300px;
      height: 300px;

          .text_img_3{
              position:absolute;
              top:150px; 
              width:300px;
              height:300px;
              z-index:2;
              font-size:140%;
              color: white;
        
          }

      }
    
    }



    .image{ 
      box-shadow: inset 0 0 1em black;
      margin: 15px auto;
    }
    .text_img{
      position:absolute;
      top:310px; 
      width:300px;
      height:300px;
      z-index:2;
      font-size:180%;
      color: white;
    }


  /*Second bloc d'image*/

    h3{
      font-weight: 600;
    }

    p{
      font-weight: 700;
    }


    .grille_2{
      display: grid; 
      grid-template-columns: 1fr 1fr 1fr   ;   
      grid-gap: 20px;
      height: auto;
    }

    .text_img2{
      display: grid; 
      grid-template-columns: 1fr 1fr 1fr   ;   
      grid-gap: 20px;
      height: auto;
      position:absolute;
      width:300px;
      height:300px;
      z-index:2;
      font-size:180%;
      color: white;
    }


  /*Footer*/
    footer{
      position: absolute;
      width: 100%; height:  500px;
      bottom: 600; left: 0; right: 0;
      background-image: url("https://atlasvoyages.com/assets/img/atlas-voyages-appmobile.jpg");
      display : table-row;
  
        .grille_foot{
         display: grid  ;
          grid-template-columns: 10px repeat(4, 1fr 10px);

                .droite{
                  grid-column: 2;
                }

                .center{
                  grid-column: 4;
                }

                .gauche{
                  grid-column: 6;
                }
        }
    }



}

